.analyze-wrapper {
  min-height: 100vh;
  overflow: hidden;
}
/* Navbar transparent on top */
.navbar{
  z-index: 2;
}

.navbar-logo {
  height: 50px;
  /* ideal: 28–36px */
  width: auto;
}

.navbar-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .3px;
}

/* MAP */
#map-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: #aad3df;
}

/* Overlay content */
.upload-card {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 40px;
  margin-top: 80px;

  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}

/* Optional dark overlay biar map ga terlalu rame */
.analyze-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 18, 32, 0.45);
  z-index: 1;
}

/* Drop area */
.drop-area {
  border: 2px dashed #cbd5e1;
  border-radius: 16px;
  padding: 40px 20px;
  cursor: pointer;
  transition: all 0.25s ease;
  background: #fafcff;
}

.drop-area:hover {
  background: #f1f5ff;
  border-color: #0d6efd;
}

.drop-area.dragover {
  background: #e9f0ff;
  border-color: #0d6efd;
}

.icon {
  font-size: 48px;
}

/* preview analisis */
#alert-area { margin-top: 30px;}
#result { 
  margin-top: 30px;
  background-color: #f4f4f4; padding: 15px; border-radius: 5px; 
  border-left: 5px solid #1a73e8; /* Garis biru di kiri */
  text-align: left;
  display: none;
}
#result h5 { margin-top: 0; color: #1a73e8}
#result h3 { margin-top: 0; margin-bottom: 20px; text-align: center;}
#result p { margin: 5px 0; }
#result strong { color: #333; }
#result ul { padding-left: 20px; }
#result .rekomendasi-SESUAI { color: #1e8e3e; font-weight: bold; }
#result .rekomendasi-SESUAI-BERSYARAT { color: #f9ab00; font-weight: bold; }
#result .rekomendasi-TIDAK-SESUAI { color: #d93025; font-weight: bold; }

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Warna hitam transparan */
  z-index: 9999; /* Pastikan lebih tinggi dari Leaflet (z-index 1000) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content {
  text-align: center;
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: 12px;
  }

  .navbar-logo {
    height: 40px;
  }
}